.wrapper {
    border: 1px solid lightblue;
    width: 400px;
    padding: 30px;
}
.counter {
    background: lightblue;
    border-radius: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 40px;
}
.counterVal {
    font-size: 100px;
}
.editableMode {
    font-size: 50px;
}
.activeVal {
    color: red;
}
.error {
    border: 3px solid red;
}
.btnList {
    border: 1px solid  lightblue;
    border-radius: 10px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 25px;
}
.btn {
    width: 150px;
    padding: 5px;
    background: lightblue;
    border: 1px solid #282c34;
    border-radius: 10px;
}