.wrapper {
    border: 1px solid lightblue;
    width: clamp(250px,40%,400px);
    padding: 30px;
}
.counter {
    background: lightblue;
    border-radius: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 40px 20px;
}
.counterVal {
    font-size: 80px;
}
.editableMode {
    font-size: 50px;
}
.activeVal {
    color: red;
}
.error {
    outline: 3px solid red  !important;
}
.btnList {
    border: 1px solid  lightblue;
    border-radius: 10px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 25px;
}
.btn {
    width: 150px;
    padding: 5px;
    background: lightblue;
    border: 1px solid #282c34;
    border-radius: 10px;
    font-weight: bold;
}
.input_name {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: bold;

}
.input_name > input {
    width: clamp(34px,40%,120px);
    height: 40px;
    border: none;
    outline: 3px solid #7bd4f1;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;

}
@media screen and (max-width: 450px) {
    .input_name {
        align-items: center;
        font-size: 20px;
    }
}